@media (orientation: portrait){
    .about-content{
        flex-wrap: wrap;
        margin-block: 50px;
        width: 100%;
    }
    
    .about-content-skills{
        margin-block: 50px;
    }

    .about-content-skills ul{
        justify-content: center;
    }

    .intro-container{
        flex-wrap: wrap;
    }

    .about-content-main{
        align-items: center;
    }    

    .about-content-skills{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        align-content: space-evenly;
    }

    .contact-content{
        flex-wrap: wrap;
    }

    .left-contact{
        width: 100%;
    }

    .right-contact{
        align-items: center;
        width: 100%;
        margin-block: 50px;
    }

    .footer{
        margin-top: 20px;
    }

    .about-content{
        margin: 0;
    }

    .upper-footer{
        flex-wrap: wrap;
        justify-content: center;
    }

    .left-footer{
        justify-content: center;
        align-items: center;
    }

    .right-footer{
        justify-content: center;
        align-items: center;
    }

    .intro-container{
        flex-wrap: wrap;
    }

    .leftIntro{
        width: 100%;
    }

    .rightIntro{
        width: 100%;
        display: none;
    }

    .about-content-main p{
        text-align: justify;
    }

    .leftIntro p{
        text-align: justify;
        font-size: 16px;
    }

    .leftIntro h1{
        font-size: 36px;
    }

    .container{
        width: 90vw;
    }
    
    .nav-links{
        display: none;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        justify-content: center;
        gap: 40px;
        overflow: hidden;
    }

    .link{
        font-size: 36px;
    }
    
    .menu{
        height: 60px;
        display: block;
    }

    .cross{
        display: none;
    }

    .left-footer{
        text-align: justify;
    }

    .submit{
        display: inline-block;
        padding: 15px;
        width: 100%;
        border-radius: 3px;
        font-size: medium;
    }
}

@media (orientation: landscape) {
   #menu{
    display: none;
   } 

   .cross{
    display: none;
   }
}

@media (max-width: 440px) {
    
    .emailIcon{
        width: 40px;
        height: 40px;
    }
    
    .emailImg{
        width: 30px;
        height: 30px;
    }
    
    .email p{
        font-size: 16px;
        margin: auto 0;
    }

    .secondarBtn{
        font-size: 16px;
    }

    .primaryBtn{
        font-size: 12px;
    }

    .divider{
        margin-block: 30px;
    }

    .footer{
        margin-top: 20px;
    }
}
