/* Presets */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    cursor: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    cursor: none;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

p{
    font-size: 1.25rem;
}

:root{
    --primary-color: #fffcea;
    --secondary-color: #353535;
    --accent-color: #e94430;
    --accent-dark-color: #c70000;
    --padding-inline: 20px;
}

::selection{
    background-color: #000;
    color: #fff;
}

/* Utility Classes */

.container{
    width: 80vw;
}

.roboto{
    font-family: "Roboto Condensed", sans-serif;
}

.poppins{
    font-family: "Poppins", sans-serif;
}

.thin{
    font-weight: 200;
}

.link{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    cursor: none;
}

.link:hover{
    color: var(--accent-color);
}

.primaryBtn{
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 40px;
    padding: 4px var(--padding-inline);
    transition: all 0.2s ease-in-out;
}

.primaryBtn:hover{
    color: #fff;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.btn-container{
    display: flex;
    gap: 20px;
}

.secondaryBtn{
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 40px;
    padding: 4px var(--padding-inline);
    transition: all 0.2s ease-in-out;
    color: #fff;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.secondaryBtn:hover{
    color: #fff;
    border: 2px solid var(--secondary-color);
    background-color: #111;
}

.divider{
    margin-block: 80px;
    border: #ddd solid 1.5px;
    width: 80vw;
    border-radius: 10px;
}

.underline{
    margin-block: 15px;
    border: var(--secondary-color) solid 4px;
    width: 30px;
    border-radius: 20px;
}

.cursor{
    z-index: 99999;
    width: 20px;
    position: fixed;
    height: 20px;
    border-radius: 50%;
    background: #35353550;
    pointer-events: none;
    box-shadow: 0 0 5px #35353501,
                0 0 20px #35353501,
                0 0 50px #35353501;
    animation: colors 5s infinite;
    transform: translate(-50%,-50%);
    display: none;
}

@keyframes colors {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.cursor::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--secondary-color);
    opacity: 0.2;
    transform: translate(-30%,-30%);
    border-radius: 50%;
}
/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/* Nav Bar */

.navBar{
    background-color: var(--primary-color);
    margin-top: 50px;
    height: 100px;
    width: 100%;
}

.navBar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name{
    font-size: 2rem;
    display: inline;
    cursor: none;
}

.nav-links{
    display: flex;
    gap: 50px;
}

/* Introduction */

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftIntro{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 50px;
    width: 65%;
}

.leftIntro h1{
    font-size: 3.5rem;
}

.rightIntro{
    display: flex;
    width: 20%;
    align-items: center;
    align-content: center;
    justify-content: center; 
}

.intro-img{
    height: 600px;
}

/* Main */

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/* About  */

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p{
    width: 80%;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color);
    margin: 10px 0 50px 0;
}

.about-content{
    display: flex;
    justify-content: space-between;
    margin-block: 50px;
}

.about-content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-content h3{
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.about-content-main p{
    text-align: start;
    margin: 0;
}

.about-content-skills{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.about-content-skills ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill{
    background-color: #ddd;
    padding: 4px var(--padding-inline);
    border-radius: 5px;
    color: var(--secondary-color);
    cursor: none;
}

main .divider{
    margin-block: 40px;
}